<!-- As a heading -->
<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Angular Base Component Architecture</span>
</nav>

<div class="container">
  <div class="row mt-5">
    <div class="col-sm">
      <app-base [state]="widget1State" [message]="widget1Message">
        <app-widget1></app-widget1>
      </app-base>
    </div>
    <div class="col-sm">
      <app-base [state]="widget2State" [message]="widget2Message">
        <app-widget2></app-widget2>
      </app-base>
    </div>
    <div class="col-sm">
      <app-base [state]="widget3State" [message]="widget3Message">
        <app-widget3></app-widget3>
      </app-base>
    </div>
  </div>
</div>